@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Helperland.Models
@model Helperland.Models.ServiceRequest

<div class="modal fade" id="RateSPModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="width: 400px;">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row pt-3">
                    <div class="col-1" style="margin-right: 25px;">
                        <img src="../images\cap.png" alt="" class="history-cap">
                    </div>
                    <div class="col-8">
                        Sandip Patel<br>
                        <img src="../images\yellow-small-star.png" alt=""><img src="../images\yellow-small-star.png" alt=""><img src="../images\yellow-small-star.png" alt=""><img src="../images\yellow-small-star.png" alt=""><img src="../images\grey-small-star.png" alt="">
                        4
                    </div>
                </div>
                <button type="button" class="btn-close" style="float: right;" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h6><strong>Rate your service provider</strong></h6>
                <hr class="hr-line">
                <table style="width:300px">
                    <tr>
                        <td>On time arrival</td>
                        <td>
                            <img src="../images\yellow-small-star.png" alt=""><img src="../images\yellow-small-star.png" alt=""><img src="../images\yellow-small-star.png" alt=""><img src="../images\yellow-small-star.png" alt=""><img src="../images\grey-small-star.png" alt="">
                            3.6
                        </td>
                    </tr>
                    <tr>
                        <td>Friendly</td>
                        <td>
                            <img src="../images\yellow-small-star.png" alt=""><img src="../images\yellow-small-star.png" alt=""><img src="../images\yellow-small-star.png" alt=""><img src="../images\yellow-small-star.png" alt=""><img src="../images\grey-small-star.png" alt="">
                            4
                        </td>
                    </tr>
                    <tr>
                        <td>Quality of service</td>
                        <td>
                            <img src="../images\yellow-small-star.png" alt=""><img src="../images\yellow-small-star.png" alt=""><img src="../images\yellow-small-star.png" alt=""><img src="../images\yellow-small-star.png" alt=""><img src="../images\yellow-small-star.png" alt="">
                            5
                        </td>
                    </tr>
                </table>
                <div class="row mt-3 mb-3">
                    <div><strong>Feedback on sevice provider</strong></div>
                    <div>
                        <textarea name="" id="" cols="10" rows="2" class="form-control"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>