@using Helperland.Models
@model User
@using Microsoft.AspNetCore.Http;
@{
    Layout = "_Layout1";
}

<!--Main-section-->
<img src="../images/book-service-banner.jpg" alt="" class="main-img">
<section class="line-star">
    <h5 class="main-heading">Set up your cleaning service</h5>
    <div class="row row2 justify-content-center">
        <div class="line"></div>
        <img class="px-0" id="seprator" src="../images/separator.png" alt="">
        <div class="line"></div>
    </div>
</section>
<section>
    <div id="book-now" class="container p-4">
        <div class="row">
            <div class="col-md-8">
                <!-- =================================== -->
                <form id="Form" method="post">
                    <!-- progressbar -->
                    <ul id="progressbar">
                        <li class="active" id="account">
                            <img src="../images/setup-service.png" class="gray-imgs" alt="">
                            <img src="../images/setup-service-white.png" class="white-imgs" alt=""> Setup Service
                        </li>
                        <li id="personal">
                            <img src="../images/schedule.png" class="gray-imgs" alt="">
                            <img src="../images/schedule-white.png" class="white-imgs" alt="">Schedule & Plan
                        </li>
                        <li id="payment">
                            <img src="../images/details.png" class="gray-imgs" alt="">
                            <img src="../images/details-white.png" class="white-imgs" alt="">Your Details
                        </li>
                        <li id="confirm">
                            <img src="../images/payment.png" class="gray-imgs" alt="">
                            <img src="../images/payment-white.png" class="white-imgs" alt="">Make Payment
                        </li>
                    </ul> <!-- fieldsets -->
                    <!-- first tabs -->
                    <fieldset>
                        <div class="form-card">
                            <div id="Setup-Service" class="tabcontent">
                                <div>
                                    <strong>Enter Your Postal Code</strong>
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <div id="divAddress"></div><br />
                                            <input type="text" id="inputnumber" class="form-control" placeholder="Postal code">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button id="nextORsubmit" class="continue-button mt-3" onclick="zipsubmit()" type="button">Check Availability</button>
                    </fieldset>
                    <!-- second tabs -->
                    <fieldset>
                        <div class="form-card">
                            <div class="tabcontent" id="scheduleform">
                                <div class="row">
                                    <div class="col-md-6 col-12">
                                        <div><strong>When do you need the cleaner?</strong></div>
                                        <div class="row">
                                            <div class="col-md-7 col-12">
                                                <input type="date" class="form-control" id="servicestartdate" placeholder="From Date" onchange="datechange()">
                                            </div>
                                            <div class="col-md-5 col-12">
                                                <select class="form-select form-control" id="serviceTime" name="Time" onchange="timechange()">
                                                    <option value="01:00" selected>01:00</option>
                                                    <option value="02:00">02:00</option>
                                                    <option value="03:00">03:00</option>
                                                    <option value="04:00">04:00</option>
                                                    <option value="05:00">05:00</option>
                                                    <option value="06:00">06:00</option>
                                                    <option value="07:00">07:00</option>
                                                    <option value="08:00">08:00</option>
                                                    <option value="09:00">09:00</option>
                                                    <option value="10:00">10:00</option>
                                                    <option value="11:00">11:00</option>
                                                    <option value="12:00">12:00</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div><strong>How long do you need your cleaner to stay?</strong></div>
                                        <div class="col-sm-5">
                                            <select class="form-select form-control" id="ServiceHours" name="Hours" onchange="hourschange()">
                                                <option selected>Select Hour</option>
                                                <option value="1">1.0 Hrs</option>
                                                <option value="2">2.0 Hrs</option>
                                                <option value="3">3.0 Hrs</option>
                                                <option value="4">4.0 Hrs</option>
                                                <option value="5">5.0 Hrs</option>
                                                <option value="6">6.0 Hrs</option>
                                            </select>

                                        </div>
                                    </div>
                                </div>

                                <hr class="hr-line">
                                <div class="row row-middle mt-2">
                                    <div style="margin-bottom: -20px;"><strong>Extra Services</strong></div>

                                    <!-- css in prices page -->
                                    <div class="col">
                                        <div class="extra-services-card">
                                            <label for="InsideCabinet">
                                                <input type="checkbox" id="InsideCabinet" style="height: 0px; width: 0px;" onchange="etc1change()">
                                                <div class="btn1 extra-services-card-img1"> </div>
                                            </label>
                                            <h6 class="small-t">Inside cabinets</h6>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="extra-services-card">
                                            <label for="InsideFridge">
                                                <input type="checkbox" id="InsideFridge" style="height: 0px; width: 0px;" onchange="etc2change()">
                                                <div class="btn1 extra-services-card-img2"> </div>
                                            </label>
                                            <h6 class="small-t">Inside Fridge</h6>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="extra-services-card">
                                            <label for="InsideOven">
                                                <input type="checkbox" id="InsideOven" style="height: 0px; width: 0px;" onchange="etc3change()">
                                                <div class="btn1 extra-services-card-img3"> </div>
                                            </label>
                                            <h6 class="small-t">Inside Oven</h6>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="extra-services-card" style="width: 139px;">
                                            <label for="InsideLaundry">
                                                <input type="checkbox" id="InsideLaundry" style="height: 0px; width: 0px;" onchange="etc4change()">
                                                <div class="btn1 extra-services-card-img4"> </div>
                                            </label>
                                            <h6 class="small-t">Laundry Wash & Dry </h6>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="extra-services-card" style="width: 118px;">
                                            <label for="InteriorWindows">
                                                <input type="checkbox" id="InteriorWindows" style="height: 0px; width: 0px;" onchange="etc5change()">
                                                <div class="btn1 extra-services-card-img5"> </div>
                                            </label>
                                            <h6 class="small-t">Interior Windows</h6>
                                        </div>
                                    </div>
                                </div>
                                <!-- <hr> -->
                                <hr class="hr-line">
                                <div class="row">
                                    <label for=""><strong>Comment</strong></label>
                                    <textarea name="Enter your comment..." class="form-control" id="comments" cols="2" rows="2"></textarea><br>
                                </div>
                                <label>
                                    <input type="checkbox" id="checkpets" name="" required>
                                    I have pets at home
                                </label>
                                <hr class="hr-line">
                            </div>
                        </div>
                        <div style="float: right;">
                            <button id="back" class="continue-button" type="button">Back</button>
                            <button id="nextORsubmit" class="continue-button button1" onclick="schedulesubmit()" type="button"> Continue</button>
                        </div>
                    </fieldset>
                    <!-- Third tabs -->
                    <fieldset>
                        <div class="form-card" id="">
                            <div class="tabcontent">
                                <div>
                                    <strong>Enter your contact details, so we can serve you in better way!</strong>
                                </div>
                                <div class="row" id="addressform">
                                    <div class="col-12 form-control">

                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <button id="button11" class="add-new-address2 mb-3" type="button"> + Add New Address </button>
                                        <div id="box" style="display:none;">
                                            <div class="col-12 card add-new-address-card p-3 mb-4">
                                                <div class="row">
                                                    <div class="col-md-6 mb-1">
                                                        <label for="streetname">
                                                            <strong>Street Name</strong>
                                                            <input type="text" class="form-control" id="addstreetname" placeholder="Street Name">
                                                        </label>
                                                    </div>
                                                    <div class="col-md-6 mb-1">
                                                        <label for="housenumber">
                                                            <strong>House Number</strong>
                                                            <input type="number" class="form-control" id="addhousenumber" placeholder="House Number">
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6 mb-1">
                                                        <label for="postalcode">
                                                            <strong>Postal Code</strong>
                                                            <input class="form-control" id="addpostalcode" placeholder="Postal Code" value="">
                                                        </label>
                                                    </div>
                                                    <div class="col-md-6 mb-1">
                                                        <label for="city">
                                                            <strong>City</strong>
                                                            <input type="text" class="form-control" id="addcity"  placeholder="City" value="" >
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6 mb-1">
                                                        <label for="phonenumber">
                                                            <strong>Phone Number</strong>
                                                            <input type="tel" class="form-control" id="addphonenumber" placeholder="Phone Number" value="">
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    &nbsp;&nbsp;&nbsp;
                                                    <input type="button" class="col-md-2 col-sm-5 continue-button" id="addsave" onclick="addresssubmit();" value="Save"/>
                                                    &nbsp;&nbsp;&nbsp;
                                                    <input type="button" name="Cancel" class="col-md-2 col-sm-5  continue-button cancel" value="Cancel" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div><strong>Your Favorite Service providers</strong></div>
                                <hr style="margin-bottom: 10px;">
                                <div>You can choose your fevorite service provider from the below list</div>
                                <div class="row">
                                    <div class="col-12 m-4">
                                        <div class="fevorite-service-cap mb-1"></div>
                                        <div class="mb-2" style="font-size: 18px;">
                                            <strong>Sandip patel</strong>
                                        </div>
                                        <button id="select-btn" type="submit" class="fevorite-service-select-btn"
                                                name="Select" value="Select">
                                            Select
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="float: right;">
                            <button id="back1" class="continue-button" type="button">Back</button>
                            <button type="button" id="nextORsubmit" class="continue-button button1" onclick="afteraddress()">Continue</button>
                        </div>
                    </fieldset>
                    <!-- Forth tabs -->
                    <fieldset>
                        <div class="form-card">
                            <div id="Pymentdetails" class="tabcontent">
                                <div class="row">
                                    <div><strong>Pay securely with Helperland payment gateway!</strong></div>
                                    <div class="col-md-4 mt-2">
                                        <label for="" style="font-size: 16px;">Promo Code (Optional)</label>
                                        <input type="text" class="form-control" value="Promo code (optional)">
                                    </div>
                                    <div class="col-md-3">
                                        <button class="final-submit-button">Apply</button>
                                    </div>
                                </div>
                                <hr class="hr-line">
                                <div class="row mt-5">
                                    <div class="col-12">
                                        <div class="card">
                                            <div class="row">

                                            </div>

                                        </div>
                                        <div class="mt-2" style="float: right;">
                                            <div style="font-size: 10px;">Accepted cards:</div>
                                            <img src="../images/Payment-img.png" alt="">
                                        </div>
                                    </div>
                                </div>
                                <hr class="hr-line">
                                <div class="row">
                                    <input type="checkbox" class="checkbox1 " />
                                    <div class="col-11 small justify-content-end" style="margin-left:15px;">
                                        I accepted <a href="" class="book-now-a">terms and conditions.</a>, the <a href="" class="book-now-a">cancellation policy</a> and
                                        the <a href="" class="book-now-a">privacy policy</a>. I confirm that
                                        Helperland starts toexecute the
                                        contract
                                        before the expiry of the withdrawal period and I lose my right of withdrawal
                                        as a consumer with
                                        full performance of the contract.
                                    </div>
                                </div>
                                <hr>
                            </div>

                            <!-- <button type="submit" name="complete-booking" class="complete-booking" style="float: right;" value="Complete Booking">Complete Booking</button> -->
                            <button type="submit" class="complete-booking" data-toggle="modal" style="float: right;"
                                    data-target=".bd-example-modal-sm" onclick="completebooking()">
                                Complete Booking
                            </button>
                            <div class="modal fade bd-example-modal-sm mt-5" tabindex="-1" role="dialog"
                                 aria-labelledby="mySmallModalLabel" aria-hidden="true">
                                <div class="modal-dialog" style="width: 360px;">
                                    <div class="modal-content p-3">
                                        <div style="margin: auto;">
                                            <img src="../images/success-icon.png" alt="">
                                        </div>
                                        <div class="raw-top justify-content-between">
                                            Booking has been successfully
                                            submitted
                                        </div>
                                        <button class="continue-button ok-button mt-3"
                                                data-dismiss="modal">
                                            OK
                                        </button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </fieldset>
                </form>
                <!-- ================================================== -->
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="row-1 p-3">
                        Payment Summary
                    </div>
                    <div class="row-2 p-3">
                        <div class="first-line">
                            <span id="servicecarddate">
                                @{
                                    String date = DateTime.Now.AddDays(1).ToString("dd/mm/yyyy");
                                    date = date.Replace('-', '/');
                                }
                                @date
                            </span>
                            <span id="servicecardtime">
                                08:00
                            </span>
                            <br /><br>
                        </div>
                        <div class="second-line"> Duration </div>
                        <span id="servicecardhour"></span>
                        <div class="row">
                            <div class="col-8 d-none" id="etc-1">Basic <br> Inside cabinets (extra)</div>
                            <div class="col-4 d-none text-end" id="etc1"> 3 Hrs <br> 30 Mins</div>

                            <div class="col-8 d-none" id="etc-1">Inside fridge (extra)</div>
                            <div class="col-4 d-none text-end" id="etc1"> 30 Mins</div>

                            <div class="col-8 d-none" id="etc-2">Inside oven (extra)</div>
                            <div class="col-4 d-none text-end" id="etc2">  30 Mins</div>

                            <div class="col-8 d-none" id="etc-3">Inside loundry (extra)</div>
                            <div class="col-4 d-none text-end" id="etc3">  30 Mins</div>

                            <div class="col-8 d-none" id="etc-4">Inside Windows (extra)</div>
                            <div class="col-4 d-none text-end" id="etc4">  30 Mins</div>

                            <hr class="second-line-hr">
                            <div class="col-8"><strong>Total Service Time</strong> </div>
                            <div class="col-4 text-end" id="totaltime" onchange="servicetime()"> <strong>3.5 Hrs</strong> </div>
                        </div>
                    </div>
                    <hr class="main-hr">
                    <div class="row-3 p-3">
                        <div class="row">
                            <div class="col-8">Per cleaning <br> Discount</div>
                            <div class="col-4 text-end"> $87 <br> - $27</div>
                        </div>
                    </div>
                    <hr class="main-hr">
                    <div class="row-4 p-3">
                        <div class="row total-payment">
                            <div class="col-8 pt-2">Total Payment</div>
                            <div class="col-4 total-p">$63</div>
                        </div>
                        <div class="row">
                            <div class="col-8">Effective Price</div>
                            <div class="col-4 text-end mb-4"> <strong>$50.4</strong></div>
                            <div style="font-size: 14px;">
                                <span class="star">*</span> You will save 20% according
                                to §35a EStG.
                            </div>
                        </div>
                    </div>
                    <div class="row-5">
                        <img src="../images/smiley.png" alt="">
                        <span class="row-5-text">See what is always included</span>
                    </div>
                </div>

                <!-- questions Part -->
                <div class="text-question">
                    Questions?
                </div>
                <div class="tab-pane active text" id="for-customer" role="tabpanel"
                     aria-labelledby="for-customer-tab">

                    <div class="container-fluid px-0 text-left" id="accordion">

                        <div class="px-0">
                            <div class="d-flex card-header mx-0 px-0 justify-content-start">
                                <button type="submit" class="btn question ques-arrow col-auto px-0 collapsed"
                                        data-bs-toggle="collapse" href="#collapseOne" aria-expanded="false"
                                        aria-controls="collapseOne">

                                    <img class="right" src="../images/right-arrow.png" alt="" width="22">
                                </button>
                                <div class="col px-0">
                                    <a class="question ques collapsed" data-bs-toggle="collapse" href="#collapseOne"
                                       aria-expanded="false" aria-controls="collapseOne">
                                        <p class="mb-0">
                                            What's included in a cleaning?
                                        </p>
                                    </a>
                                </div>
                            </div>
                            <div id="collapseOne" class="collapse" data-bs-parent="#accordion" style="">
                                <div class="card-body answer">
                                    Bedroom, Living Room &amp; Common Areas, Bathrooms, Kitchen, Extras
                                </div>
                            </div>
                        </div>

                        <div class="px-0 ">
                            <div class="collapsed d-flex card-header mx-0 px-0 justify-content-start">
                                <button type="submit" class="btn question ques-arrow col-auto px-0 collapsed"
                                        data-bs-toggle="collapse" href="#collapseTwo" aria-expanded="false"
                                        aria-controls="collapseFalse">

                                    <img class="right" src="../images/right-arrow.png" alt="" width="22">
                                </button>
                                <div class="col px-0">
                                    <a class="question ques collapsed" data-bs-toggle="collapse" href="#collapseTwo"
                                       aria-expanded="false" aria-controls="collapseFalse">
                                        <p class="mb-0">
                                            Which Helperland professional will come to my place?
                                        </p>
                                    </a>
                                </div>
                            </div>
                            <div id="collapseTwo" class="collapse" data-bs-parent="#accordion">
                                <div class="card-body answer">
                                    Helperland has a vast network of experienced, top-rated cleaners. Based on the
                                    time
                                    and date of your request, we work to assign the best professional available.
                                    Like
                                    working with a specific pro? Add them to your Pro Team from the mobile app and
                                    they'll be requested first for all future bookings. You will receive an email
                                    with
                                    details about your professional prior to your appointment.
                                </div>
                            </div>
                        </div>


                        <div class="px-0 ">
                            <div class="d-flex card-header mx-0 px-0 justify-content-start collapsed">
                                <button type="submit" class="btn question ques-arrow col-auto px-0 collapsed"
                                        data-bs-toggle="collapse" href="#collapseThree" aria-expanded="false"
                                        aria-controls="collapseThree">
                                    <img class="" src="../images/right-arrow.png" alt="" width="22">
                                </button>
                                <div class="col px-0">
                                    <a class="question ques collapsed" data-bs-toggle="collapse"
                                       href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        <p class="mb-0">
                                            Can I skip or reschedule bookings?
                                        </p>
                                    </a>
                                </div>
                            </div>
                            <div id="collapseThree" class="collapse" data-bs-parent="#accordion">
                                <div class="card-body answer">
                                    You can reschedule any booking for free at least 24 hours in advance of the
                                    scheduled start time. If you need to skip a booking within the minimum
                                    commitment,
                                    we’ll credit the value of the booking to your account. You can use this credit
                                    on
                                    future cleanings and other Helperland services.
                                </div>
                            </div>
                        </div>

                        <div class="px-0 ">
                            <div class="d-flex card-header mx-0 px-0 justify-content-start">
                                <button type="submit" class="btn question ques-arrow col-auto px-0 collapsed"
                                        data-bs-toggle="collapse" href="#collapseFour" aria-expanded="false"
                                        aria-controls="collapseFour">

                                    <img class="right" src="../images/right-arrow.png" alt="" width="22">
                                </button>
                                <div class="col px-0">
                                    <a class="question ques collapsed" data-bs-toggle="collapse"
                                       href="#collapseFour" aria-expanded="false" aria-controls="collapseOne">
                                        <p class="mb-0">
                                            Do I need to be home for the booking?
                                        </p>
                                    </a>
                                </div>
                            </div>
                            <div id="collapseFour" class="collapse" data-bs-parent="#accordion">
                                <div class="card-body answer">
                                    We strongly recommend that you are home for the first clean of your booking to
                                    show
                                    your cleaner around. Some customers choose to give a spare key to their cleaner,
                                    but
                                    this decision is based on individual preferences.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>