@using Helperland.Models
@model User
@{
    Layout = "_Layout";
}

<div class="container-fluid">
    <!--line-star-->
    <section class="line-star">
        <section class="line-star">
            <h5 class="main-heading"> Create An Account</h5>
            <div class="row row2 justify-content-center">
                <div class="line"></div>
                <img class="px-0" id="seprator" src="../images/separator.png" alt="">
                <div class="line"></div>
            </div>
        </section>
    </section>
    <!--line-star-->
    <section id="create_account_user" class="create_account_user justify-content-center mt-4">
        <div class="text-danger mb-3 text-center">
            @ViewBag.Message
        </div>
        <form asp-controller="Home" asp-action="Create_Account" method="post" class="row class1">

            <div class="col-md-6">
                <span asp-validation-for="FirstName" class="text-danger small"></span>
                <input asp-for="FirstName" class="form-control" id="inputfirstname" placeholder="First Name ">

            </div>
            <div class="col-md-6">
                <span asp-validation-for="LastName" class="text-danger small"></span>
                <input asp-for="LastName" class="form-control" id="inputlastname" placeholder="Last Name">
            </div>
            <div class="col-md-6">
                <span asp-validation-for="Mobile" class="text-danger small"></span>
                <input asp-for="Mobile" class="form-control" id="inputnumber" placeholder="Phone number">
            </div>
            <div class="col-md-6">
                <span asp-validation-for="Email" class="text-danger small"></span>
                <input asp-for="Email" class="form-control" id="inputemail" placeholder="Email">
            </div>
            <div class="col-md-6">
                <input type="password" class="form-control" id="inputpassword" asp-for="Password" placeholder="Password">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <input type="password" class="form-control" id="inputconfirm-password" asp-for="ConfirmPassword"
                       placeholder="Confirm Password">
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>

            <div class="row px-3">
                <div class="col-sm-12">
                    <div class="checkbox">
                        <label>
                            <input class=" mr-3 checkbox1" type="checkbox" required>
                            <span class="ml-3 checkbox-text">
                                Yes, I would like to subscribe to the
                                newsletter of Helperland GmbH with vouchers, trends, promotions and individualized offers. I can
                                unsubscribe from the newsletter at any time in the newsletter and in the customer account itself.
                            </span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="row px-3">
                <div class="col-sm-12">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" class="checkbox1" required>
                            <span class="ml-3 checkbox-text">
                                I agree with the
                                <a class="terms-text" data-toggle="modal" href="#termsAndConditions" title="Terms and Conditions">
                                    terms and conditions
                                </a> of Helperland GmbH.
                            </span>
                        </label>

                    </div>
                </div>
            </div>
            <div class="row px-3">
                <div class="col-sm-12 mb-2">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" class="checkbox1" required>
                            <span class="ml-3 checkbox-text">
                                I have read the
                                <a class="terms-text" data-toggle="modal" href="#privacy-policy-modal" title="privacy policy">privacy policy</a> .
                            </span>
                        </label>
                    </div>
                </div>
            </div>
            @*<div class="text-center g-recaptcha-wrapper">
            <re-captcha id="registerRecaptcha">
                <div class="Robot-card">
                    <div>
                        <iframe title="reCAPTCHA"
                                src="https://www.google.com/recaptcha/api2/anchor?ar=1&amp;k=6LfV25IcAAAAAEhaM94ZyAWXQxViyg9Y6Rl6L2Oe&amp;co=aHR0cHM6Ly93ZWIxLmFuYXNvdXJjZS5jb206NDQz&amp;hl=en&amp;v=TDBxTlSsKAUm3tSIa0fwIqNu&amp;size=normal&amp;cb=76emyj4edauw"
                                width="304" height="78" role="presentation" name="a-s8gkajnu9yv2" frameborder="0" scrolling="no"
                                sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox"></iframe>
                    </div><textarea id="g-recaptcha-response" name="g-recaptcha-response" class="g-recaptcha-response"
                                    style="width: 250px; height: 40px; border: 1px solid rgb(193, 193, 193); margin: 10px 25px; padding: 0px; resize: none; display: none;"></textarea>
                </div><iframe style="display: none;"></iframe>
            </re-captcha>
            <input formcontrolname="recaptchaReactive" type="hidden" value="" class="ng-untouched ng-pristine ng-invalid">
        </div>*@
            <div class="col-12 mt-4 mb-2">
                <button type="submit" class="btn submit-button">Register</button>
            </div>
            <div class="col-12 bottom-text">
                Already registered?
                <a class="login-now" asp-area="" asp-controller="Home" asp-action="Index">Login now</a>
            </div>
        </form>
    </section>
</div>

