@using Helperland.Models
@model User
@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "Home Page";
}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/css/site.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" />
    <title>Helperland</title>
</head>

<body>
    <!-- home Section -->
    <section id="home-section" class="main">
        <div class="wrapper" id="navbar-provider">
            <nav id="sidebar">
                <div class="container-fluid">
                    <div class="row row1">
                        <strong>Welcome, Sandeep.</strong>
                    </div>

                    <div class="row row2 ">
                        <ul class="nav nav-tabs flex-column">
                            <li class="nav-item">
                                <a class="nav-link" href="Service_History.html">Dashboard</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="Service_History.html">Service History</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="Service_History.html">Service Schedule</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="Service_History.html">Favorite Pros</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="Customer_Settings.html">My Settings</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Home" asp-action="Logout">Logout</a>
                            </li>

                        </ul>
                    </div>
                    <div class="row row3">
                        <ul class="navbar-nav">

                            <li class="nav-item">
                                <a class="nav-link login-trigger btn">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="#" asp-action="Contact">Book a  Cleaner</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="PublicPages" asp-action="Prices">Price & services</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="#" asp-action="#">Warranty</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="PublicPages" asp-action="Contact">Contact </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="#" asp-action="#">
                                    Become a Helper
                                </a>
                            </li>
                        </ul>

                    </div>
                    <hr>
                    <div class="row4">
                        <img class="socialmedia" src="../images/ic-facebook.png" alt="" style="margin-right: 40px; ">
                        <img class="socialmedia" src="../images/ic-instagram.png" alt="">
                    </div>
                </div>

            </nav>
            <div id="nevbar ">
                <section class="small-nav p-3">
                    <nav class="navbar navbar-expand-lg navbar-dark mynav" style="background:transparent">
                        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="../../images/logo-large.png" alt="Helperland"></a>
                        <button class="navbar-toggler" id="sidebarCollapse" type="button">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 ">
                                <li class="nav-item mt-2">
                                    <a class="nav-link btn btn1 btn-outline-light text-white btn-home"
                                       style="padding-left: 15px;padding-right: 15px;" asp-area="" asp-controller="CustomerPages" asp-action="Book_Now">
                                        Book a Cleaner
                                    </a>
                                </li>
                                <li class="nav-item mt-2">
                                    <a class="nav-link text-white" asp-area="" asp-controller="PublicPages" asp-action="Prices">Prices</a>
                                </li>
                                <li class="nav-item mt-2">
                                    <a class="nav-link text-white" href="About.html">Our Guarantee</a>
                                </li>
                                <li class="nav-item mt-2">
                                    <a class="nav-link text-white" href="#">Blog</a>
                                </li>
                                <li class="nav-item mt-2">
                                    <a class="nav-link text-white" asp-area="" asp-controller="PublicPages" asp-action="Contact">Contact Us</a>
                                </li>

                                @if (Context.Session.GetString("isLoggedIn") != null)

                                {
                                    <li class="nav-item dropdown notification-icon mb-3">
                                        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                                           aria-expanded="false">
                                            <img src="../images/icon-notification.png" alt="notification">
                                        </a>
                                    </li>
                                    <li class="nav-item dropdown user-dropdown mb-3">
                                        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                                           aria-expanded="false">
                                            <img src="../images/user.png" alt="Flag">
                                            <i class="bi bi-chevron-down"></i>
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                            <li class="dropdown-service-history-header">
                                                Welcome,<br><strong>@Context.Session.GetString("Name")</strong>
                                            </li>
                                            <hr>
                                            <li><a href="customer_service_history.html">My Dashboard</a></li>
                                            <li><a href="mysetting.html"> My settings</a></li>
                                            <li>
                                                <a asp-controller="Home" asp-action="Logout">Logout</a>
                                            </li>
                                        </ul>
                                    </li>
                                }
                                else
                                {
                                    <li class="nav-item mt-2">
                                        <a class="nav-link btn btn-outline-light text-white  btn-home" data-bs-target="#login" data-bs-toggle="modal"
                                           style="width: 110px;" href="#">Login</a>

                                        <!-- login popup -->
                                        <div id="login" class="modal fade " aria-labelledby="loginLabel" tabindex="-1" aria-modal="true"
                                             role="dialog">
                                            <div class="modal-dialog modal-dialog-centered">
                                                <div class="modal-content">
                                                    <div class="modal-body">
                                                        <div class="popup-heading">Login to your account</div>
                                                        <button type="button" class="btn-close" style="float: right;" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        <form method="post" asp-controller="Home">
                                                            <span class="text-danger text-center " >@ViewBag.Message1</span>
                                                            <div class="input-group mt-3">
                                                                <input asp-for="Email" type="Email" class="form-control" placeholder="username or email" />
                                                                <div class="input-group-prepend">
                                                                    <span class="input-group-text "><i class="fas fa-user"></i></span>
                                                                </div>
                                                            </div>
                                                            <div class="input-group">
                                                                <input asp-for="Password" type="Password" class="form-control" placeholder="password" />
                                                                <div class="input-group-prepend">
                                                                    <span class="input-group-text"><i class="fas fa-lock"></i><span>
                                                                </div>
                                                            </div>
                                                            <div>
                                                                <input class="checkbox1" type="checkbox" value="" />
                                                                <label style="margin-left: 25px;"> Remember me</label>
                                                            </div><br />
                                                            <button type="submit" class="btn login-button">Login</button>
                                                            <br><br>
                                                        </form>
                                                        <a href="" class="d-block text-center forgot-password" data-bs-toggle="modal"
                                                           data-bs-target="#forgetPasswordModal">
                                                            Forget Password?
                                                        </a>
                                                        <div class="account">
                                                            Don't have account?
                                                            <a class="create-account" asp-area="" asp-controller="Home" asp-action="Create_Account">create account</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Forgotpassword popup -->
                                        <div class="modal fade" id="forgetPasswordModal" aria-hidden="true"
                                             aria-labelledby="forgetPasswordModalLabel" tabindex="-1">
                                            <div class="modal-dialog  modal-dialog-centered">
                                                <div class="modal-content">
                                                    <div class="modal-body p-3">
                                                        <div class="popup-heading">Forget Password</div>
                                                        <button type="button" class="btn-close" style="float: right;" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        <span class="text-danger">@ViewBag.Message2</span>
                                                        <span class="text-danger">@ViewBag.Message3</span>
                                                        <form method="post">
                                                            <input asp-for="Email" type="email" class="form-control" placeholder="Email Address" />
                                                            <button type="submit" class="btn send-button">Send</button>
                                                        </form>
                                                        @*<a href="#" class="back-login text-center" data-bs-toggle="modal" data-bs-target="#login"> <-- Back to Login</a>*@
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                    </li>

                                    <li class="nav-item mt-2">
                                        <a asp-area="" asp-controller="Home" asp-action="Service_Provider" class="nav-link btn btn-outline-light text-white btn-home" style="padding-left: 15px;padding-right: 15px;">Become a Helper</a>
                                    </li>
                                    <li class="nav-item dropdown show mt-2 ml-2 ">
                                        <a class="dropdown-toggle text-white" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                                           aria-haspopup="true" aria-expanded="false">
                                            <img src="../images/ic-flag.png" alt="Flag">
                                        </a>
                                        <div class="dropdown-menu languages-dropdown" aria-labelledby="dropdownMenuLink">
                                            <a class="dropdown-item" href="#"><img src="../images/ic-flag.png" alt="Flag"> USA</a>
                                            <a class="dropdown-item" href="#"><img src="../images/ic-flag.png" alt="Flag"> CANADA</a>
                                            <a class="dropdown-item" href="#"><img src="../images/ic-flag.png" alt="Flag"> INDIA</a>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                    </nav>
                    @if (TempData["Msg"] != null)
                    {
                        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
                        <script type="text/javascript">
                            $(document).ready(function () {
                                alert("You have succesfully logged out");
                            });
                        </script>
                    }

                </section>
            </div>

            <div class="overlay"></div>

        </div>
        <div id="main-text">
            <div class="main-text">
                <div class="lorem">
                    <p style="margin-bottom: 0px;">Do not feel like housework?</p>
                </div>
                <div class="lorem-small">
                    <span>Great! Book now for Helperland and enjoy the benefits</span>
                </div>
                <div class="lorem-small">
                    <span><i class="bi bi-check"></i></span>
                    <span>certified & insured helper</span>
                </div>
                <div class="lorem-small">
                    <span><i class="bi bi-check"></i></span>
                    <span>easy booking procedure</span>
                </div>
                <div class="lorem-small">
                    <span><i class="bi bi-check"></i></span>
                    <span>friendly customer service</span>
                </div>
                <div class="lorem-small">
                    <span><i class="bi bi-check"></i></span>
                    <span>secure online payment method</span>
                </div>
            </div>
        </div>
        <div id="main-btn-center">
            <div class="main-btn-center ">
                <a class="btn btn-center" href="Book_Now.html">Let's Book a Cleaner</a>

            </div>
        </div>

        <!--home-section-icon-->
        <div id="home_section_process">
            <div class="home_section_process">
                <div class="container">
                    <div class="row justify-content-around text-center">
                        <div class="col-sm-2">
                            <img class="img-fluid mbs-40" width="52px" height="55px" src="../images/step-1.png " alt="">
                            <p class="home-section-text">Enter your postcode</p>

                        </div>
                        <div class="col-1 arrow-img">
                            <img class="img-fluid" width="85" height="23" src="../images/step-arrow-1.png" alt="">

                        </div>
                        <div class="col-sm-2">
                            <img class="img-fluid mbs-40" src="../images/step-2.png" alt="" width="57" height="60">
                            <p class="home-section-text">Select your plan</p>
                        </div>
                        <div class="col-1 arrow-img">
                            <img class="img-fluid" src="../images/step-arrow-1-copy.png" alt="" width="85" height="23">
                        </div>
                        <div class="col-sm-2">
                            <img class="img-fluid mbs-40" src="../images/step-3.png" alt="" width="54" height="54">
                            <p class="home-section-text">Pay securely online</p>
                        </div>
                        <div class="col-1 arrow-img">
                            <img class="img-fluid" src="../images/step-arrow-1.png" alt="" width="85" height="23">
                        </div>
                        <div class="col-sm-2">
                            <img class="img-fluid mbs-40" src="../images/step-4.png" alt="" width="62" height="63">
                            <p class="home-section-text">Enjoy amazing service</p>
                        </div>
                    </div>
                    <div class="row">
                        <div id="main-btn-down">
                            <a href="#middle-section">
                                <img class="" src="../images/group-18_5.png" alt="" width="40px" height="40px">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- Home Section -->
    <!-- middle section -->
    <section class="container-fluid" id="middle-section">
        <div class="row row1 justify-content-around">
            <!-- why helperland -->
            <div class="col-12 text text-center" id="middle-section-heading">Convince yourself!</div>
        </div>
        <div class="row px-0 mx-0 justify-content-around" id="middle-section-row2">
            <div class="col-9" id="middle-section-row2-container">
                <div class="container-fluid px-0 mx-0">
                    <div class="row ">
                        <div class="col-lg-4 col-md-6 mb-lg-0 card text-center middle-section-card  ">
                            <img class="img-fluid card-img-top" src="../images/group-21.png" width="320" height="320"
                                 alt="image group 23">
                            <div class="card-body">
                                <p class="card-title">Friendly & Certified Helpers</p>
                                <p class="card-text">
                                    We want you to be completely satisfied with our service and feel comfortable at
                                    home. In order to guarantee this, our
                                    helpers go through a test procedure. Only when the cleaners meet our high standards, they may call
                                    themselves Helper.
                                </p>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 card text-center  mb-lg-0 middle-section-card ">
                            <img class="img-fluid card-img-top" src="../images/group-23.png" width="320" height="320"
                                 alt="image group 23">
                            <div class="card-body">
                                <p class="card-title">Transparent and secure payment</p>
                                <p class="card-text">
                                    We have transparent prices, you do not have to scratch money or money on the
                                    sideboard Leave it: Pay your helper easily
                                    and securely via the online payment method. You will also receive an invoice for each completed
                                    cleaning.
                                </p>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6  card text-center middle-section-card  mb-lg-0">
                            <img class="img-fluid card-img-top" src="../images/group-24.png" width="320" height="320"
                                 alt="image group 23">
                            <div class="card-body">
                                <p class="card-title">We're here for you</p>
                                <p class="card-text">
                                    You have a question or need assistance with the booking process? Our customer
                                    service is happy to help and advise you.
                                    How you can reach us you will find out when you look under "Contact". We look forward to hearing from
                                    you or reading.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <!-- <our blog> -->
    <section class="container-fluid" id="our-blog">

        <img id="blog-left" src="../images/blog-left-bg.png" alt="" srcset="">
        <img id="blog-right" src="../images/blog-right-bg.png" alt="" srcset="">

        <div class="row sub-row1 justify-content-center">
            <div class="col-md-6 order-2 order-md-1">
                <p id="our-blog-title" class="pt-4">
                    Lorem ipsum dolor sit amet,<br> consectetur
                </p>

                <p id="our-blog-text">
                    If it's not dusting off, our friendly helpers will free you from this burden - do not
                    worry anymore about spending
                    valuable time doing housework, but savor life, you're well worth your time with beautiful experiences.
                    <br><br>
                    Free yourself and enjoy the gained time: Go celebrate, relax, play with your children, meet friends or dare to
                    jump on
                    the bungee. Other leisure ideas and exclusive events can be found in our blog - guaranteed free from dust and
                    cleaning
                    tips!
                </p>
            </div>
            <div class="col-md-3 text-center order-1 order-lg-2">
                <img class="img-fluid" src="../images/group-36.png" alt="">
            </div>
        </div>

        <div class="row row2">
            <div class="col text-center">
                <p id="our-blog-head" class="">Our Blog</p>
            </div>
        </div>

        <div class="row px-0 mx-0 row3">
            <div class="container-fluid px-0 mx-0">
                <div class="row justify-content-lg-center">

                    <div class="col-lg-3 col-sm-6 mb-sm-2 mb-lg-0 ">
                        <div class="card shadow">
                            <img class="img-fluid card-img-top" src="../images/group-28.png" alt="" width="357px" height="164px">
                            <div class="card-body">
                                <p class="card-title">Lorem ipsum dolor sit amet</p>
                                <p class="card-subtitle">January 28, 2019</p>
                                <p class="card-text">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum metus
                                    pulvinar aliquet.
                                </p>
                                <a class="card-link" href="">
                                    Read the post <img class="img-fluid" src="../images/shape-2.png" alt=""
                                                       srcset="">
                                </a>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 mb-sm-2 mb-md-0 ">
                        <div class="card shadow">
                            <img class="img-fluid card-img-top" src="../images/group-29.png" alt="" width="357px" height="164px">
                            <div class="card-body">
                                <p class="card-title">Lorem ipsum dolor sit amet</p>
                                <p class="card-subtitle">January 28, 2019</p>
                                <p class="card-text">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum metus
                                    pulvinar aliquet.
                                </p>
                                <a class="card-link" href="">
                                    Read the post <img class="img-fluid" src="../images/shape-2.png" alt=""
                                                       srcset="">
                                </a>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 mb-sm-2 mb-md-0 ">
                        <div class="card shadow">
                            <img class="img-fluid card-img-top" src="../images/group-30.png" alt="" width="357px" height="164px">
                            <div class="card-body">
                                <p class="card-title">Lorem ipsum dolor sit amet</p>
                                <p class="card-subtitle">January 28, 2019</p>
                                <p class="card-text">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum metus
                                    pulvinar aliquet.
                                </p>
                                <a class="card-link" href="">
                                    Read the post <img class="img-fluid" src="../images/shape-2.png" alt=""
                                                       srcset="">
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- customer section -->
    <section class="container-fluid" id="customer">
        <div class="row row1 ">
            <div class="col text-center">
                <p id="customer-text" class="my-0">
                    What Our Customers Say
                </p>
            </div>
        </div>
        <div class="row px-0 mx-0" id="row2">
            <div class="container-fluid px-0 mx-0">
                <div class="row justify-content-lg-center">

                    <div class="col-lg-3 col-sm-6 mb-2 mb-lg-0">
                        <div class="card row2-card">
                            <img class="img-fluid customer-card-img" src="../images/message.png" height="35px" width="33px" alt="">
                            <div class="row px-0 mx-2 ">
                                <div class="col-3 mts-43 text-align-right">
                                    <img src="../images/group-31.png" class="img-fluid" width="70" height="70" alt="">
                                </div>
                                <div class="col mts-43">
                                    <p class="card-title pt-2">Lary Watson</p>
                                    <p class="card-subtitle">Manchester</p>
                                </div>
                            </div>
                            <div class="card-body px-0 ">
                                <p class="card-text px-0 mx-3">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum
                                    metus
                                    pulvinar aliquet consequat. Praesent nec malesuada nibh.<br><br> Nullam et metus congue, auctor augue
                                    sit amet, consectetur tortor.
                                </p>
                                <a class="card-link px-0 mx-3" href="">
                                    Read More <img class="img-fluid" src="../images/shape-2.png" alt=""
                                                   srcset="">
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6 mb-2 mb-lg-0">
                        <div class="card row2-card">
                            <img class="img-fluid customer-card-img" src="../images/message.png" height="35px" width="33px" alt="">
                            <div class="row px-0 mx-2 ">
                                <div class="col-3 mts-43 text-align-right">
                                    <img src="../images/group-32.png" class="img-fluid" width="70" height="70" alt="">
                                </div>
                                <div class="col mts-43">
                                    <p class="card-title pt-2">John Smith</p>
                                    <p class="card-subtitle">Manchester</p>
                                </div>
                            </div>
                            <div class="card-body px-0 ">
                                <p class="card-text px-0 mx-3">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum
                                    metus
                                    pulvinar aliquet consequat. Praesent nec malesuada nibh.<br><br> Nullam et metus congue, auctor augue
                                    sit amet, consectetur tortor.
                                </p>
                                <a class="card-link px-0 mx-3" href="">
                                    Read More <img class="img-fluid" src="../images/shape-2.png" alt=""
                                                   srcset="">
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6 mb-2 mb-lg-0">
                        <div class="card row2-card">
                            <img class="img-fluid customer-card-img" src="../images/message.png" height="35px" width="33px" alt="">
                            <div class="row px-0 mx-2 ">
                                <div class="col-3 mts-43 text-align-right">
                                    <img src="../images/group-33.png" class="img-fluid" width="70" height="70" alt="">
                                </div>
                                <div class="col mts-43">
                                    <p class="card-title pt-2">Lars Johnson</p>
                                    <p class="card-subtitle">Manchester</p>
                                </div>
                            </div>
                            <div class="card-body px-0 ">
                                <p class="card-text px-0 mx-3">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum
                                    metus
                                    pulvinar aliquet consequat. Praesent nec malesuada nibh.<br><br> Nullam et metus congue, auctor augue
                                    sit amet, consectetur tortor.
                                </p>
                                <a class="card-link px-0 mx-3" href="">
                                    Read More <img class="img-fluid" src="../images/shape-2.png" alt=""
                                                   srcset="">
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row" id="row3">
            <div class=" col-6 col-sm-2 col-md-1 order-2 order-sm-1">
                <div id="foma-container">
                    <a asp-area="" asp-controller="Home" asp-action="Index">
                        <img class="img-fluid" src="../images/forma-1.png" alt="" id="foma-5">
                    </a>
                </div>
            </div>
            <div class="col-md-10 col-sm-8 order-1 order-sm-2">
                <div class="container-fluid mx-0 px-0">
                    <div class="row mx-0 px-0 text-center ">
                        <p class="title mb-1">GET OUR NEWSLETTER</p>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-sm-auto p-0 newletter-input">
                            <input class="form-control" type="email" name="" id="" placeholder="YOUR EMAIL">
                        </div>
                        <div class="col-sm-1 py-2 py-sm-0 newletter-input">
                            <button class="btn" type="submit">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-2 col-md-1 order-2 order-sm-3 text-center mb-2 mb-sm-0">
                <img class="img-fluid" src="../images/layer-598.png" height="63px" width="63px" alt="">
            </div>
        </div>
    </section>
    <footer class="site-footer">
        <div class="footer-top">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-2 footer-widget">
                        <a asp-area="" asp-controller="Home" asp-action="Index" title="Helper Hand">
                            <img src="../images/footer-logo.png" alt="Helper Hand">
                        </a>
                    </div>
                    <div class="col-lg-8 footer-widget">
                        <ul class="footer-navigation d-flex justify-content-center">
                            <li>
                                <a asp-area="" asp-controller="Home" asp-action="index">Home</a>
                            </li>
                            <li>
                                <a asp-area="" asp-controller="PublicPages" asp-action="About">About</a>
                            </li>
                            <li>
                                <a asp-area="" asp-controller="PublicPages" asp-action="#">Testimonials</a>
                            </li>
                            <li>
                                <a asp-area="" asp-controller="PublicPages" asp-action="FAQ">FAQs</a>
                            </li>
                            <li>
                                <a asp-area="" asp-controller="PublicPages" asp-action="#">Insurance Policy</a>
                            </li>
                            <li>
                                <a asp-area="" asp-controller="PublicPages" asp-action="#">Impressum</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-2 footer-widget">
                        <ul class="social-media-list d-flex justify-content-end">
                            <li>
                                <a href="#" target="_blank" title="Facebook">
                                    <img src="../images/ic-facebook.png" alt="Facebook">
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank" title="Instagram">
                                    <img src="../images/ic-instagram.png" alt="Instagram">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <hr>
                <div class="justify-content-lg-center text-center" style="font-size: 16px;">
                    <div>
                        ©2018 Helperland. All rights reserved. &nbsp;&nbsp;&nbsp;&nbsp; <a href="" class="row-bottom">
                            Terms and
                            Conditions
                        </a> | <a href="" class="row-bottom">Privacy Policy</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom" id="cookie">
            <div class="container text-center">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut feugiat nunc libero, ac malesuada ligula aliquam
                    ac. <a href="#" title="Privacy Policy">Privacy Policy</a>
                </p>
                <a href="#" class="yellow-btn ok-btn" onclick="myFunction()">OK!</a>
            </div>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="~/js/site.js"></script>
    <script>
        function myFunction() {
            var x = document.getElementById("cookie");
            x.style.display = "none";
        }
    </script>

</body>

</html>
