@using Helperland.Models
@model User

<div class="modal-body">
    <div class="popup-heading">Login to your account</div>
    <button type="button" class="btn-close" style="float: right;" data-bs-dismiss="modal" aria-label="Close"></button>
    <form method="post" asp-controller="Home">
        <div class="input-group mt-3">
            <input asp-for="Email" type="Email" class="form-control" placeholder="username or email" />
            <div class="input-group-prepend">
                <span class="input-group-text "><i class="fas fa-user"></i></span>
            </div>
        </div>
        <div class="input-group">
            <input asp-for="Password" type="Password" class="form-control" placeholder="password" />
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-lock"></i><span>
            </div>
        </div>
        <div>
            <input class="checkbox1" type="checkbox" value="" />
            <label style="margin-left: 25px;"> Remember me</label>
        </div><br />
        <button type="submit" class="btn login-button">Login</button>
        <br><br>
    </form>
    <a href="" class="d-block text-center forgot-password" data-bs-toggle="modal"
       data-bs-target="#forgetPasswordModal">
        Forget Password?
    </a>
    <div class="account">
        Don't have account?
        <a class="create-account" asp-area="" asp-controller="Home" asp-action="Create_Account">create account</a>
    </div>
</div>