@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@model Helperland.Models.User
<div class="modal model-for-completion-order" id="ApproveUsers">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content cancle-model">
            <!-- Modal Header -->
            <div class="modal-header">

                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <!-- Modal body -->
            <div class="modal-body book-with-cost-popup">
                <div class="row">
                    <div class="col-auto">
                        <p class="approve-text" >
                            Are you sure you want to approve this service provider?
                        </p>
                    </div>
                </div>
                <br>
                <button type="button" class="btn btn-approved ml-auto" style="margin-left:100px" onclick="finalapprove()" data-bs-dismiss="modal">
                    Approve
                </button>
                <input type="hidden" class="form-control" id="id" value="@Model.UserId" />
            </div>
        </div>
    </div>
</div>
