@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
}


<img src="../images\hero-banner-img.png" alt="" class="main-img">
<div class="container-fluid about" style="width: 100%; margin: 0 auto;">
    <section class="line-star">
        <h5 class="main-heading"> A Few words about us</h5>
        <div class="row row2 justify-content-center">
            <div class="line"></div>
            <img class="px-0" id="seprator" src="../images/separator.png" alt="">
            <div class="line"></div>
        </div>
    </section>
    <!--first-paragraph-->
    <section id="first-paragraph">
        <div class="row justify-content-center">
            <div class="card about-card-1" style="width: 982px;">
                <div class="card-body  ">

                    <p class="card-text first-p-about ">
                        We are providers of professional home cleaning services, offering hourly based house cleaning options, which mean that
                        you don’t have to fret about getting your house cleaned anymore. We will handle everything for you, so that you can
                        focus on spending your precious time with your family members.
                        <br><br>
                        We have a number of experienced cleaners to help you make cleaning out or shifting your home an easy affair.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="line-star">
        <h5 class="main-heading"> Our Story</h5>
        <div class="row row2 justify-content-center">
            <div class="line"></div>
            <img class="px-0" id="seprator" src="../images/separator.png" alt="">
            <div class="line"></div>
        </div>
    </section>
    <section id="second-paragraph">
        <div class="row justify-content-center">
            <div class="card about-card-2" style="width: 982px;">
                <div class="card-body  ">
                    <p class="card-text second-p-about">
                        A cleaner is a type of industrial or domestic worker who cleans homes or commercial premises for payment. Cleaners may
                        specialise in cleaning particular things or places, such as window cleaners. Cleaners often work when the people who
                        otherwise occupy the space are not around. They may clean offices at night or houses during the workday.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- customer section -->
    <section class="container-fluid" id="customer" style="background-color: white;">
        <div class="row justify-content-center" id="row3">
            <div class="col-md-12 col-sm-8 order-1 order-sm-2">
                <div class="container-fluid mx-0 px-0">
                    <div class="row mx-0 px-0 text-center ">
                        <p class="title mb-1">GET OUR NEWSLETTER</p>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-sm-auto p-0 newletter-input">
                            <input class="form-control" type="email" name="" id="" placeholder="YOUR EMAIL">
                        </div>
                        <div class="col-sm-1 py-2 py-sm-0 newletter-input">
                            <button class="btn" type="submit">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>