@using Helperland.Models
@model ContactU
@{
    Layout = "_Layout";
}


<img src="../images/group-16_2.png" alt="" class="main-img">
<!-- <div class="container-fluid"> -->
<section class="line-star">
    <h5 class="main-heading"> Contact us</h5>
    <div class="row row2 justify-content-center">
        <div class="line"></div>
        <img class="px-0" id="seprator" src="../images/separator.png" alt="">
        <div class="line"></div>
    </div>
</section>
<!--3-symbols-->
<section class="contact-symbols">
    <div class="row justify-content-center">
        <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="card about-card-1">
                <div class="card-header align-self-center">
                    <img src="../images\forma-1_2.png" alt="">
                </div>
                <div class="card-body align-self-center">
                    <p style="color: #4f4f4f; font-size: 16px;">1111 Lorem ipsum text 100,<br> Lorem ipsum AB</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="card about-card-1">
                <div class="card-header align-self-center">
                    <img src="../images\phone-call.png" alt="">
                </div>
                <div class="card-body align-self-center">
                    <a href="tel:+49 (228) 28693320" title="+49 (228) 28693320">
                        <span>+49 (228) 28693320</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="card about-card-1">
                <div class="card-header align-self-center">
                    <img src="../images\vector-smart-object.png" alt="">
                </div>
                <div class="card-body align-self-center">
                    <a href="mailto:info@helperland.de" title="info@helperland.de">
                        <span>info@helperland.com</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--3-symbols-->
<br>
<hr class="contact-line justify-content-center ">
<!--line-star-->
<section class="line-star">
    <h5 class="main-heading" style="margin-top:80px; margin-bottom: 23px;"> Get in touch with us</h5>
</section>
<!--line-star-->
<section id="get-in-touch" class="get-in-touch justify-content-center">
    <span class="text-danger text-center mb-3">@ViewBag.message</span>
    <form asp-controller="PublicPages" asp-action="Contact"  method="post" class="row class1">

        <div class="col-md-6">
            <input asp-for="Name" class="form-control" placeholder="First Name">
            <span asp-validation-for="Name" class="text-danger small"></span>
        </div>
        <div class="col-md-6">
            <input asp-for="Name" name="Lastname" class="form-control" placeholder="Last Name">
            <span asp-validation-for="Name" class="text-danger small"></span>
        </div>
        <div class="col-md-6">
            <input asp-for="PhoneNumber" class="form-control" placeholder="Phone number">
            <span asp-validation-for="PhoneNumber" class="text-danger small" ></span>
        </div>
        <div class="col-md-6">
            <input asp-for="Email" class="form-control" placeholder="Email">
            <span asp-validation-for="Email" class="text-danger small" ></span>
        </div>
        <div class="col-md-12">
            <input asp-for="Subject" class="form-control" placeholder="Subject">
            <span asp-validation-for="Subject" class="text-danger small"></span>
        </div>
        <div class="col-md-12">
            <textarea asp-for="Message" class="form-control" rows="3" placeholder="Message"></textarea>
            <span asp-validation-for="Message" class="text-danger small"></span>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
                <label asp-for="AttechmentFile" class="control-label">Attachment</label><br>
                <div class="input-file">
                    <input asp-for="AttechmentFile" type="file" id="Myfile" >
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="col-sm-12">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" class="checkbox1 ng-untouched ng-pristine ng-valid">
                        <span class="checkbox-text">
                            Our current ones apply
                            <a class="terms-text"  href="#" title="Terms and Conditions">
                                Privacy Policy.
                            </a> I hereby agree that my data entered into the contact form will be stored electronically and processed and used for the purpose of establishing contact. The consent can be withdrawn at any time pursuant to Art. 7 (3) GDPR by informal notification (eg by e-mail).
                        </span>
                    </label>
                </div>
            </div>
        </div>
        <div class="col-12">
            <button type="submit" class="btn submit-button">Submit</button>
        </div>
    </form>
</section>
<section class="map-block">
    <iframe allowfullscreen="" frameborder="0"
            src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJxzZgCD_hvkcRTC-2Pt6bXt0&amp;key=AIzaSyAag-Mf1I5xbhdVHiJmgvBsPfw7mCqwBKU" style="width: 100%; margin-top: 40px;" height="400" ></iframe>
    <a href="https://123movies-to.org"></a><br>
    <a href="https://www.embedgooglemap.net"> </a>
</section>
<!-- customer section -->
<section class="container-fluid" id="customer" style="background-color: white;">
    <div class="row justify-content-center" id="row3">
        <div class="col-md-12 col-sm-8 order-1 order-sm-2">
            <div class="container-fluid mx-0 px-0">
                <div class="row mx-0 px-0 text-center ">
                    <p class="title mb-1">GET OUR NEWSLETTER</p>
                </div>
                <div class="row justify-content-center">
                    <div class="col-sm-auto p-0 newletter-input">
                        <input class="form-control" type="email" name="" id="" placeholder="YOUR EMAIL">
                    </div>
                    <div class="col-sm-1 py-2 py-sm-0 newletter-input">
                        <button class="btn" type="submit">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>