@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
}


<img src="../images/group-18.png" alt="" class="main-img">
<section class="line-star">
    <p class="main-heading justify-content-center">
        Prices
    </p>
    <div class="row row2 justify-content-center">
        <div class="line"></div>
        <img src="../images/separator.png" id="seprator" alt="" class="px-0">
        <div class="line"></div>
    </div>
</section>
<section id="prices" class="prices p-2">
    <div class="card prices-card">
        <div class="prices-card-header">
            <div class="prices-card-header-text">One Time</div>
        </div>
        <div class="prices-card-body" style="margin-top: 30px;">
            <div class="prices-card-body-up">
                <span class="prices-card-logo"></span>
                <span class="prices-text1">
                    <span class="prices-text2 justify-content-center">18 € </span>/hr
                </span>
            </div>
        </div>
        <div class="prices-card-body-down">
            <div class="prices-1">
                <img src="../images/forma-1_5.png" alt="">
                <span class="Lower-prices">
                    CheckmarkLower prices
                </span>
            </div>
            <div class="prices-1">
                <img src="../images/forma-1_5.png" alt="">
                <span class="Lower-prices">
                    CheckmarkEasy online & secure payment
                </span>
            </div>
            <div class="prices-1">
                <img src="../images/forma-1_5.png" alt="">
                <span class="Lower-prices">
                    CheckmarkEasy amendment
                </span>
            </div>
        </div>
    </div>
</section>
<section id="extra services" class="extra-services">
    <section class="line-star">
        <h5 class="main-heading">Extra services</h5>
        <div class="row row2 justify-content-center">
            <div class="line"></div>
            <img class="px-0" id="seprator" src="../images/separator.png" alt="">
            <div class="line"></div>
        </div>
    </section>
    <div class="row justify-content-center text-center" style="margin: auto;">
        <div class="col">
            <div class="extra-services-card">
                <div class="extra-services-card-img1"></div>
                <h6 class="small-t">Inside cabinets</h6>
                <div class="minutes">30 minutes</div>
            </div>
        </div>
        <div class="col">
            <div class="extra-services-card" =>
                <div class="extra-services-card-img2"></div>
                <h6 class="small-t">Inside fridge</h6>
                <div class="minutes">30 minutes</div>
            </div>
        </div>
        <div class="col">
            <div class="extra-services-card">
                <div class="extra-services-card-img3"></div>
                <h6 class="small-t">Inside oven</h6>
                <div class="minutes">30 minutes</div>
            </div>
        </div>
        <div class="col">
            <div class="extra-services-card" style="width: 139px;">
                <div class="extra-services-card-img4"></div>
                <h6 class="small-t">Laundry wash & dry </h6>
                <div class="minutes">30 minutes</div>
            </div>
        </div>
        <div class="col">
            <div class="extra-services-card" style="width: 118px;">
                <div class="extra-services-card-img5"></div>
                <h6 class="small-t">Interior windows</h6>
                <div class="minutes">30 minutes</div>
            </div>
        </div>
    </div>
</section>

<section class="cleaning" id="cleaning">
    <section class="line-star">
        <h5 class="main-heading">What we include in cleaning</h5>
        <div class="row row2 justify-content-center">
            <div class="line"></div>
            <img class="px-0" id="seprator" src="../images/separator.png" alt="">
            <div class="line"></div>
        </div>
    </section>
    <section class="p-3">
        <div class="row cleaning justify-content-center">
            <div class="col-lg-4 col-sm-12 mb-1">
                <!-- <div class="cleaning-area"> -->
                <img src="../images/group-18_3.png" alt="" class="img2">
                <div class="Bedroom-and-Living-Room">
                    Bedroom and Living Room
                </div>
                <div>
                    <img src="../images/right-arrow-grey.png" alt="">
                    <p class="cleaning-p">IncludedIncluded Dust all accessible surfaces</p>
                </div>
                <div>
                    <img src="../images/right-arrow-grey.png" alt="">
                    <p class="cleaning-p"> Wipe down all mirrors and glass fixtures</p>
                </div>
                <div>
                    <img src="../images/right-arrow-grey.png" alt="">
                    <p class="cleaning-p">Not IncludedNot Included Clean all floor surfaces</p>
                </div>
                <div>
                    <img src="../images/right-arrow-grey.png" alt="">
                    <p class="cleaning-p"> Take out garbage and recycling</p>
                </div>
                <div>
                    <img src="../images/right-arrow-grey.png" alt="">
                    <p class="cleaning-p">IncludedTo clean up</p>
                </div>
                <div>
                    <img src="../images/right-arrow-grey.png" alt="">
                    <p class="cleaning-p">Included Make beds</p>
                </div>

                <!-- </div> -->
            </div>

            <div class="col-lg-4 col-sm-6 mb-1 mb-lg-0">
                <!-- <div class="cleaning-area"> -->
                <img src="../images/group-18_4.png" alt="" class="img2">
                <div class="Bedroom-and-Living-Room">
                    Bathrooms
                </div>
                <div>
                    <img src="../images/right-arrow-grey.png" alt="">
                    <p class="cleaning-p"> Wash and sanitize the toilet, shower, tub, sink </p>
                </div>
                <div>
                    <img src="../images/right-arrow-grey.png" alt="">
                    <p class="cleaning-p">Not IncludedNot Included Dust all accessible surfaces</p>
                </div>
                <div>
                    <img src="../images/right-arrow-grey.png" alt="">
                    <p class="cleaning-p"> Wipe down all mirrors and glass fixtures</p>
                </div>
                <div>
                    <img src="../images/right-arrow-grey.png" alt="">
                    <p class="cleaning-p">Not IncludedNot Included Clean all floor surfaces</p>
                </div>
                <div>
                    <img src="../images/right-arrow-grey.png" alt="">
                    <p class="cleaning-p"> Take out garbage and recycling</p>
                </div>

                <!-- </div> -->
            </div>

            <div class="col-lg-4 col-sm-6 mb-1 mb-lg-0 ">
                <!-- <div class="cleaning-area"> -->
                <img src="../images/group-18_2.png" alt="" class="img2">
                <div class="Bedroom-and-Living-Room">
                    Kitchen
                </div>
                <div>
                    <img src="../images/right-arrow-grey.png" alt="">
                    <p class="cleaning-p">Cleaning the sink</p>
                </div>
                <div>
                    <img src="../images/right-arrow-grey.png" alt="">
                    <p class="cleaning-p">Cleaning the oven (outside)</p>
                </div>
                <div>
                    <img src="../images/right-arrow-grey.png" alt="">
                    <p class="cleaning-p">Cleaning the work surfaces</p>
                </div>
                <div>
                    <img src="../images/right-arrow-grey.png" alt="">
                    <p class="cleaning-p"> Dust all accessible surfaces</p>
                </div>
                <div>
                    <img src="../images/right-arrow-grey.png" alt="">
                    <p class="cleaning-p"> Clean all floor surfaces</p>
                </div>
                <div>
                    <img src="../images/right-arrow-grey.png" alt="">
                    <p class="cleaning-p"> Take out garbage and recycling</p>
                </div>

                <!-- </div> -->
            </div>
        </div>
    </section>
</section>
<section id="Why-Helperland" class="">
    <section class="line-star">
        <h5 class="main-heading">Why Helperland</h5>
        <div class="row row2 justify-content-center">
            <div class="line"></div>
            <img class="px-0" id="seprator" src="../images/separator.png" alt="">
            <div class="line"></div>
        </div>
    </section>
    <div class="container" style="margin-top: 33px;">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-4 content-left">
                <div class="heading">Experienced and vetted professionals</div>
                <p class="p">
                    dominate the industry in scale and scope with an adaptable, extensive network that
                    consistently delivers exceptional
                    results.
                </p>
                <div class="heading">Dedicated customer service</div>
                <p class="p">
                    to our customers and are guided in all we do by their needs. The team is always happy
                    to support you and offer all the
                    information. you need.
                </p>
            </div>
            <div class="col-12 col-lg-4 the-best">
                <img src="../images/the-best-img-1.png" alt="the-best" style="width: 100%;">
            </div>
            <div class="col-12 col-lg-4 content-right">
                <div class="heading">Every cleaning is insured</div>
                <p class="p">
                    and seek to provide exceptional service and engage in proactive behavior. We‘d be happy
                    to clean your homes.
                </p>
                <div class="heading">Secure online payment</div>
                <p class="p">
                    Payment is processed securely online. Customers pay safely online and manage the
                    booking.
                </p>
            </div>

        </div>
    </div>
</section>

<!-- customer section -->
<section class="container-fluid" id="customer" style="background-color: white;">
    <div class="row justify-content-center" id="row3">
        <div class="col-md-12 col-sm-8 order-1 order-sm-2">
            <div class="container-fluid mx-0 px-0">
                <div class="row mx-0 px-0 text-center ">
                    <p class="title mb-1">GET OUR NEWSLETTER</p>
                </div>
                <div class="row justify-content-center">
                    <div class="col-sm-auto p-0 newletter-input">
                        <input class="form-control" type="email" name="" id="" placeholder="YOUR EMAIL">
                    </div>
                    <div class="col-sm-1 py-2 py-sm-0 newletter-input">
                        <button class="btn" type="submit">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>